body{
    padding: 0;
    margin: 0;
    font-family:roboto,Arial,sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    color: #f9faf8;
    font-size: 24px;
}
.header-logo{
    height: 100px;
    width: auto;
    border: none;
}
.header-links{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    align-content: center;
    gap: 40px;
    font-size: 18px;
    color: #e5e7eb;   
}
.body1, .header{
    background-color: #1f2937; 
}

.body1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0;
}
.body-text{
    flex-basis: 500px;
    display: flex;
    flex-direction:column;
}
.big-text{
    font-size:48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
    
}
.subtext{
    font-size: 18px;
    color:#e5e7eb;
}
button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    background-color: #3882f6;
    color:#e5e7eb;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding: 12px 25px;
    align-self: start;
}
.main-img{
    display: block;
    height: 270px;
    width: auto;
    border-radius: 20px;
    border: 3px solid;
    border-color: #3882f6;
}
.info-heading{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.body2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
    padding-bottom: 100px;
}
.info{
    text-align: center;
    height: 350px;
    width: 175px;
    color: grey;
    font-size: 18px;

}
img{
    width: auto;
    height: 250px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #3882f6;
}
.body3{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.quote-sec{
    display: flex;
    flex-direction: column; 
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}
.author{
    align-self: flex-end;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.body4{
    display: flex;
    padding: 75px;
    justify-content: center;
}
.card{
    padding: 10px 150px;
    display: flex;
    background-color:#3882f6;
    border-radius: 5px;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
}
.grouptextbody{
    color: white;
}
.sign-up-end{
    align-self: center;
    border: 3px solid;
    border-color:white;
    color: white;
}

.footer{
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    text-align: center;
    padding: 20px 0px;
}

